@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/
body {
  box-sizing: border-box;
  color: #c9d1d9;
  background: #0d1117;
  font-size: 16px;
  font-family: "Poppins", Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-weight: 700;
  color: #ffffff;
  font-family: "Poppins", "Calibri", Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #c9d1d9;
}

a {
  text-decoration: none;
  color: #39b0bd;
  text-shadow: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

footer a {
  color: #c9d1d9;
  text-decoration: underline;
}

em,
cite {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre,
code {
  color: #222;
  background-color: #fff;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal,
    monospace;
  font-size: 14px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

ul,
ol,
dl {
  margin-bottom: 15px;
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url("../images/bg_hr.png") repeat-x center;
}

table {
  margin-bottom: 20px;
  text-align: left;
}

th {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
}

td {
  padding: 10px;
}

form {
  background: #f2f2f2;
  padding: 20px;
}

header {
  display: flex;
}

/*******************************************************************************
Navbar
*******************************************************************************/
.navbar-base {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  background-color: #0d1117;
}
.navigation-container {
  display: flex;
  width: 100%;
  max-width: 1240px;
  justify-content: space-between;
  align-items: center;
}
.navigation-side {
  display: flex;
  align-items: center;
}
.navigation-link-right {
  display: flex;
  align-items: center;
}
.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #c9d1d9;
}
.brand {
  margin-right: 72px;
}
.brand.w--current {
  padding-left: 0;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.nav-link {
  position: relative;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.03em;
  border-radius: 3px;
  padding: 10px 20px;
}
.nav-link:hover {
  text-decoration: none;
  background: #39b0bd38;
}
.w-nav {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.logo {
  width: 60px;
  height: 60px;
}

.hamburgerMenuIcon {
  display: none;
  cursor: pointer;
}

#download_platform {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

/*******************************************************************************
Button
*******************************************************************************/

.download_button {
  background: #39b0bd;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out;
}

.download_button:hover {
  filter: brightness(1.4);
  box-shadow: 1px 1px 10px 1px #39b0bd66;
  transition: all .2s ease-in-out;
}

.hero_heading {
  color: #fff;
  font-size: 60px;
  font-family: "Inter";
  line-height: 70px;
  text-align: center;
  padding-bottom: 30px;
}

.color-39b0bd {
  color: #39b0bd;
  text-decoration: underline;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/
.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 1000px;
  padding: 20px 10px;
  margin: 0 auto;
}

.spacer {
  flex-grow: 1;
}

#logo_text {
  padding: 10px 20px 10px 20px;
}

#download_label {
  font-size: 1.114rem;
  font-weight: 500;
  padding-left: 5px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#main_content_wrap {
  background: #0d1117;
  padding: 140px 0 100px 0;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: #212121;
}

#copyright {
  display: flex;
}

#copyright img {
  margin: 0px 12px 0px 0px;
}

#copyright p {
  margin: auto;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#main p {
  padding: 0px 30px 0px 0px;
}

.content_section {
  margin-top: 30px;
}

.screenshots {
  width: 70%;
  height: auto;
  border-radius: 4px;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/
@media screen and (max-width: 768px) {
  .desktop-link {
    display: none;
  }
  .nav-menu {
    position: absolute;
    top: 100px;
    left: 0;
    background: #0d1117;
    width: -webkit-fill-available;
    height: auto;
    padding: 1.5rem 1.5rem 1.5rem .5rem;
    flex-direction: column;
    align-items: flex-start;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all .1s ease-in-out;
  }
  .show-menu {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: all .1s ease-in-out;
  }
  .nav-link {
    font-size: 20px;
  }
  .desktop-link {
    display: none;
  }
  .hamburgerMenuIcon {
    display: block;
  }
  .hamburgerMenuIcon svg {
    width: 20px;
    height: 20px;
  }
  .hero_heading {
    font-size: 40px;
     line-height: 50px;
  }
}
@media screen and (max-width: 992px) {
  .screenshots {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
  #download {
    display: none;
  }
  #screenshot {
    display: none;
  }
  .inner {
    min-width: 320px;
    max-width: 480px;
  }
  #project_title {
    font-size: 32px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
  code,
  pre {
    font-size: 11px;
  }
}
@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }
  .inner {
    min-width: 240px;
    max-width: 320px;
  }
  #project_title {
    font-size: 28px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
  code,
  pre {
    min-width: 240px;
    max-width: 320px;
    font-size: 11px;
  }
}
