<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href= "{{ '/css/gitahead.css' | relative_url }}" />
    {% seo %}
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <a href="/"><img src="{{ '/images/gitahead.png' | relative_url }}" /></a>
        <div id="logo_text">
          <h1 id="project_title">GitAhead</h1>
          <h2 id="project_tagline">{{ site.description }}</h2>
        </div>
        <div id="button">
          <a id="download" href="https://scitools.com/gitahead/thanks/">Download</a>
          <div id="links">
            <a href="https://github.com/gitahead/gitahead/releases">all downloads</a> |
            <a href="https://github.com/gitahead/gitahead">source</a>
          </div>
        </div>
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
          <p class="copyright">Copyright © {{ site.time | date: "%Y" }} <a href="{{ site.github.owner_url }}">Scientific Toolworks, Inc.</a></p>
        {% endif %}
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

    <script src="{{ '/js/retina.min.js' | relative_url }}" type="text/javascript"></script>
  </body>
</html>
